Exercise 1

In [8]:
#Print('Hello world!');
#The correct function name is print(), not Print()
print('Hello world')

Hello world

In [7]:
#print'Hello world!');
#missing 1 parentheses "("
print('Hello world!')

Hello world!

In [6]:
#print ('Hello world!);
#missing 1 quotation '
print('Hello world!')

Hello world!

In [9]:
#print('Hello world!'')
# there's an extra single quote '
print('Hello world!')

Hello world!

Exercise 2

In [14]:
#x = 43
#x = x + 1
#print(x)
# I change x to 42
x = 43
x = 42 + 1
print(x)

43

Exercise 3

In [13]:
#x = 43
#x = X + 1
#print(x)
# issue in of this code is X (uppercase) instead of x (lowercase).
x = 43
x = x + 1
print(x)

44